body {
    background-color: lightgray;
}

.container {
	width: 100%;
    margin-top: 10px;
    
}

button {
    margin: 10px;
}

#movie-input {
    border: 1px solid;
}

.gif { 
    margin: 10px;
}

.rating {
    margin-left: 10px;
}

